<div class="pokCard text-center">
    <img src="../../../assets/images/{{pokemon.id}}.png" class="pokImg" alt="{{pokemon.name}}">
    <div class="card card-block text-center">
        <h5 class="pokText">{{pokemon.name}}</h5>
        <p class="pokText">id: {{pokemon.id}}</p>
        <p class="pokText">damage: {{pokemon.damage}}</p>
        <!-- <button *ngIf="!setFreeButton" class="btn btn-primary" (click)="switchButton(pokemon.name)">Catch</button>
        <button *ngIf="setFreeButton" class="btn btn-primary" (click)="switchButton(pokemon.name)">Set free</button> -->
    </div>
</div>