.catchBtn {
	width: 150px;
	background-color: rgb(111, 223, 186);
	border: rgb(111, 223, 186);
}

.releaseBtn {
	width: 150px;
	background-color: rgb(111, 223, 186);
	border: rgb(111, 223, 186);
}

.pokCard {
	outline: 2px solid Aquamarine;
	margin: 10px;
	padding: 7px;
}