<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <span class="navbar-brand">
    Pokedex
  </span>

  <button class="navbar-toggler">
    <span class="navbar-toggler-icon"> </span>
  </button>

  <div class="navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]='["/caught"]'>Caught Pokemons</a>
      </li>
    </ul>
  </div>
</nav>
