<div class="card-deck-wrapper pokDeckWr">
    <div class="card-deck cardPok">
        <div class="divImg">
            <img src="../../../assets/images/{{pokemon.id}}.png" class="pokiImg" alt="Pok-img" />
        </div>
        <div class="card divAll">
            <div class="card divName">
                <p class="pokText">{{pokemon.name}}</p>
            </div>  
            <div class="card divInf">
                <p class="pokText">Detailed info</p>
                <p class="pokText">id: {{pokemon.id}}</p>
                <p class="pokText">damage: {{pokemon.damage}}</p>
                <p class="pokText">birthdate: {{pokemon.birthdate}}</p>
            </div> 
            <button class="btn btn-primary catchBtn" (click)="catchPokemon()">
                {{ pokemon.isCaught ? "Release" : "Catch" }}
            </button>
            <button [routerLink]="['/edit', pokemon.id]" class="btn btn-primary editBtn">Edit</button>
        </div>
    </div>
</div>