<div class="card-deck-wrapper pokDeckWr">
    <div class="card-deck cardPok">
        <div class="divImg">
            <img src="../../../assets/images/1.png" class="pokiImg" alt="Pok-img" />
        </div>
        <div class="card divAll">
            <div class="card divName">
                <p class="pokText">Bulbasaur</p>
            </div>  
            <div class="card divInf">
                <p class="pokText">Detailed info</p>
            </div> 
            <button class="btn btn-primary catchBtn">Catch</button>
        </div>
    </div>
</div>