.pokList {
	display: flex;
	flex-wrap: wrap;
	padding-left: 1%;
	padding-right: 0.5%;
	padding-bottom: 1%;
}

.pokCard {
	margin: 5px;
}

.switchBtn {
	margin-top: 0.5%;
	margin-left: 0.5%;
	background-color: rgb(111, 223, 186);
	border: rgb(111, 223, 186);
}
