<div>
  <button type="button" class="btn btn-primary switchBtn" (click)="switchView()">Switch the view</button>
</div>

<app-search-bar (change)="filterPokemons($event)"></app-search-bar>

<div *ngIf="!textView" class="pokList">
  <ng-container *ngFor="let pokemon of pokemons">
    <app-pokemon-card class="pokCard" [pokemon]="pokemon" (onChanged)="onChanged($event)"></app-pokemon-card>
  </ng-container>
</div>

<div *ngIf="textView">
  <ng-container *ngFor="let pokemon of pokemons" class="pokText">
      <app-pokemon-text [pokemon]="pokemon" (onChanged)="onChanged($event)"></app-pokemon-text>
  </ng-container>
</div>